.image-row {
    display: flex;
    white-space: nowrap;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .move-left {
    animation-name: slideLeft;
  }
  
  .move-right {
    animation-name: slideRight;
  }
  
  @keyframes slideLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  @keyframes slideRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(50%);
    }
  }
  